# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp

# Dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# E2E
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
